header {
	height: 150px;
	width: 100%;
	background-color: #040404;
    opacity: 0.87;
}

#header_logo {
	float:left;
	width: 300px;
	height: 100%;
	border-right: 1px solid #b4b4b4;
}

#header_div{
    float:right;
	width: calc(100% - 305px);
	height: 100%;
}

#header_div #header_title{
	width: 100%;
	height: 100px;
    color:#fff;
}

#header_div h1{
	
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    
}

#header_div #social_networks li{
	list-style:none;
    display:inline;
    margin-left: 20%;
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    
}
#social_networks{
    margin-left: 6%;
}


body{
    background: linear-gradient(110deg, #2a2a77 60%, #100547 60%);
}

main{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.tex{
    width: 120%;
    height: 19px;
}

@media screen and (max-width: 700px) {
    #social_networks{ display: none; }
  }

.bloque{
    text-align: center;
}


.contenido p{
    margin-top: 3%;
    color: #fff;
   display: flex;
   margin-left: 40%;
   margin-right: 40%;
}

.imagen{
    margin-top: 3%;
}
.buscar{
   size: 2000px;
}

.tabla{
    height: 30px;
    width: 300px;
}
.titulo{
    font-size: 30px;
    color: aliceblue;
}
.final{
    background: black;
    height: 70px;
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
    /*  poner footer abajo */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.final p {
    color: antiquewhite;
    font-family: 'Permanent Marker', cursive;
}